<template>
  <div class="klk-cms_component_list">
    <el-button
      type="primary"
      @click="add()"
      class="el-icon-plus"
      size="small"
    ></el-button>
    <div v-if="list.length">
      <!-- 一个列表项一个表单（方便验证） -->
      <el-form
        v-for="(item, i) in list"
        ref="listItemForm"
        :model="item.formProxy"
        :rules="formRules"
        label-width="0px"
        :id="item.uid"
        :key="item.uid"
      >
        <el-form-item label="" prop="listItem">
          <el-card>
            <div slot="header" class="header">
              <span class="title">
                {{ `# ${i + 1}` }}
                {{ item.component.title ? item.component.title : "" }}
              </span>
              <div class="actions">
                <el-button
                  class="el-icon-arrow-up"
                  size="small"
                  @click="up(i)"
                  :disabled="i === 0"
                ></el-button>
                <el-button
                  class="el-icon-arrow-down"
                  size="small"
                  @click="down(i)"
                  :disabled="i === list.length - 1"
                ></el-button>
                <el-button
                  class="el-icon-delete"
                  size="small"
                  type="danger"
                  @click="remove(i)"
                ></el-button>
              </div>
            </div>
            <!-- form -->
            <klk-cms-form
              :ref="item.uid"
              :component="item.component"
              @change="onChange"
              v-if="item.component.type === 'form'"
            ></klk-cms-form>
            <!-- list -->
            <klk-cms-list
              :ref="item.uid"
              :component="item.component"
              @change="onChange"
              v-else-if="item.component.type === 'list'"
            ></klk-cms-list>
            <!-- custom -->
            <klk-cms-custom
              :ref="item.uid"
              :component="item.component"
              @change="onChange"
              v-else-if="item.component.type === 'custom'"
            ></klk-cms-custom>
            <!-- 普通组件 -->
            <klk-cms-basic
              :component="item.component"
              @change="onChange"
              v-else
            ></klk-cms-basic>
          </el-card>
        </el-form-item>
      </el-form>
    </div>
  </div>
</template>

<script>
import _cloneDeep from 'lodash/cloneDeep';
import _merge from 'lodash/merge';
import form from "./form.vue";
import custom from "./custom.vue";
import basic from "./basic.vue";
import baseMixin from "./base.mixin.js";
import { COMP_PREFIX, initComponent, isBasicComponent } from "../utils.ts";

export default {
  name: `${COMP_PREFIX}-list`,
  mixins: [baseMixin],
  components: {
    /* eslint-disable vue/no-unused-components */
    [form.name]: form,
    [custom.name]: custom,
    [basic.name]: basic
  },
  data() {
    return {
      list: []
    };
  },
  computed: {
    formRules() {
      return {
        listItem: this.component.component.rules || []
      };
    }
  },
  watch: {
    async list(newVal, oldVal) {
      // console.info("list watch list", newVal, oldVal);
      // Do not sync data at once
      setTimeout(async () => {
        await this.syncData();
      }, 0);
    }
  },
  created() {
    // init data
    this.initData();
  },
  methods: {
    getNewComponent() {
      const comp = _cloneDeep(this.component.component);
      initComponent(comp);
      return comp;
    },
    initData() {
      const { value, _refValue } = this.component;
      if (!value) return;
      for (const [index, val] of Object.entries(value)) {
        const comp = this.getNewComponent();
        comp.value = val;
        if (_refValue) {
          comp._refValue = _refValue[index];
        }
        this.add(comp);
      }
    },
    add(comp) {
      const component = comp || this.getNewComponent();
      this.list.push({
        formProxy: Object.freeze(
          new Proxy(
            {},
            {
              get(target, key, receiver) {
                if (key === "listItem") return component.value;
                else return undefined;
              }
            }
          )
        ),
        component,
        // gen a uid for list item
        uid: new Date().getTime() + "_" + Math.random().toString().slice(2, 8)
      });
    },
    remove(index) {
      this.list.splice(index, 1);
    },
    move(index, offset) {
      const item = this.list[index];
      const other = this.list[index + offset];
      this.list[index] = other;
      this.list[index + offset] = item;
      // fix array change problem of Vue
      // this.$forceUpdate();
      this.list = this.list.slice(0);
    },
    up(index) {
      this.move(index, -1);
    },
    down(index) {
      this.move(index, +1);
    },
    // gen data from ui components
    async syncData() {
      const [data, lanData] = await this.genData();
      const value = _merge(data, lanData);
      this.component.value = value;
      return value;
    },
    async genData() {
      const data = [];
      const lanData = [];
      // const refComponents = this.$refs.component || [];
      // fix: bug 1009692
      // should keep the order when list item swap
      const refComponents = this.list
        .map(item => {
          const itemComps = this.$refs[item.uid];
          return itemComps
            ? Array.isArray(itemComps)
              ? itemComps[0]
              : itemComps
            : undefined;
        })
        .filter(ref => ref !== undefined);
      const { component } = this.component;
      if (!isBasicComponent(component)) {
        for (const comp of refComponents || []) {
          const [_data, _lanData] = await comp.genData();
          data.push(_data);
          lanData.push(_lanData);
        }
      } else {
        for (const item of this.list) {
          if (item.component.multiLanguage) {
            lanData.push(item.component.value);
          } else {
            data.push(item.component.value);
          }
        }
      }
      return [data, lanData];
    },
    validateForm(form) {
      return new Promise((resolve, reject) => {
        try {
          form.validate(valid => {
            resolve(valid);
          });
        } catch (err) {
          reject(err);
        }
      });
    },
    async validate() {
      let _valid = true;
      const refComponents = this.$refs.component || [];
      const { component } = this.component;
      if (!isBasicComponent(component)) {
        for (const comp of refComponents) {
          const isValid = await comp.validate(false);
          if (!isValid) {
            _valid = false;
            break;
          }
        }
      } else {
        // 基础组件验证
        const forms = this.$refs.listItemForm || [];
        for (const form of forms) {
          _valid = await this.validateForm(form);
          if (!_valid) break;
        }
      }
      return _valid;
    }
  }
};
</script>

<style lang="scss">
.klk-cms_component_list {
  .el-card {
    box-shadow: none;
    margin: 10px 0;
    .el-card__header {
      padding: 12px 16px;
      background-color: #eff2f7;
    }
    .header {
      position: relative;
      .title {
        font-weight: bold;
        font-size: 18px;
      }
      .actions {
        position: absolute;
        right: 10px;
        top: 0;
        z-index: 99;
        .el-button {
          margin-left: 5px;
        }
      }
    }
  }
}
</style>
