<template>
  <div class="klk-cms_component_schema-render">
    <klk-cms-form
      :component="schema"
      :label-width="labelWidth"
      :label-position="labelPosition"
      :inline-form="inlineForm"
      ref="comp"
    ></klk-cms-form>
  </div>
</template>

<script>
import klkCmsForm from "./form.vue";

export default {
  name: "schema-render",
  components: {
    klkCmsForm
  },
  props: {
    schema: {
      type: Object,
      required: true
    },
    labelWidth: {
      type: String,
      default: "176px"
    },
    labelPosition: {
      type: String,
      validator(type) {
        return ["left", "right", "top"].includes(type);
      },
      default: "right"
    },
    inlineForm: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    async validate() {
      return await this.$refs.comp.validate();
    },
    async genData() {
      return await this.$refs.comp.genData();
    }
  }
};
</script>
