<template>
  <div id="klk-cms_page_create">
    <schema-render
      :schema="schema"
      label-width="120px"
      label-position="left"
      ref="schemaRender"
    ></schema-render>
    <el-button type="primary" @click="next">
      {{ $t('pages.create.nextBtn') }}
    </el-button>
  </div>
</template>

<script>
import { getType, languages } from "../utils.ts";
import schemaRender from "../components/render.vue";

export default {
  components: {
    schemaRender
  },
  props: {
    module: {
      type: Object,
      required: true
    },
    options: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      languages,
      schema: null
    };
  },
  created() {
    this.init();
  },
  methods: {
    init() {
      this.setSchema();
    },
    setSchema() {
      const { singleLanguage } = this.options;
      const { schema: schemaFn } = this.options.pages.create;
      let schema = {
        title: "",
        components: [
          {
            type: "checkbox",
            title: this.$t('pages.create.editLanguage'),
            key: "supportLanguages",
            value: singleLanguage ? [singleLanguage] : ["zh_CN"],
            options: languages,
            rules: [
              {
                type: "array",
                required: true,
                message: "请至少选择一个语言",
                trigger: "change"
              }
            ],
            visible: singleLanguage === undefined
          },
          {
            type: "text",
            title: this.$t('pages.create.title'),
            key: "title",
            value: "",
            rules: [{ required: true, message: "请输入标题", trigger: "blur" }]
          },
          {
            type: "text",
            title: this.$t('pages.create.urlKey'),
            key: "urlKey",
            value: "",
            rules: [
              { required: true, message: "请输入 URL Key", trigger: "blur" }
            ]
          }
        ]
      };
      if (schemaFn) {
        // OPT: HOOKS
        if (getType(schemaFn) === "function") {
          schema = schemaFn(schema);
        }
      }
      this.schema = schema;
    },
    async next() {
      this.$refs.schemaRender.validate().then(async valid => {
        if (valid) {
          const [data] = await this.$refs.schemaRender.genData();
          // 发起创建请求
          const config = {
            // TODO: 支持的平台目前尚未确定，先留空
            platform: "",
            ...data
          };
          const createOpt = this.options.pages.create;
          // OPT: HOOKS
          let shouldContinue = true;
          if (createOpt.onCreate && typeof createOpt.onCreate === "function") {
            shouldContinue = await createOpt.onCreate();
          }
          if (!shouldContinue) return;
          this.module.createConfig(config).then((result) => {
            window.location.href = window.location.href.split("?")[0] + `?page=edit&id=${result.content_id}`;
          }).catch(err => {
            this.$message.error(err.message);
          });
        } else this.$message.error("please check your input");
      });
    }
  }
};
</script>

<style lang="scss">
#klk-cms_page_create {
  .el-form {
    .el-form-item__label,
    .el-checkbox__label {
      font-weight: normal;
    }
    .el-input {
      width: 400px;
    }
  }
  .klk-cms_component_object {
    padding: 0;
  }
}
</style>
