<template>
  <div class="klk-cms__edit-modal">
    <el-dialog
      :title="`${editKey === 'title' ? $t('modal.editTitle') : $t('modal.editUrlKey')}`"
      :visible.sync="show"
      class="edit-titile-dialog"
    >
      <el-input
        :placeholder="`Edit ${editKey === 'title' ? 'Reference Title' : 'Key'}`"
        v-model="editValue"
      ></el-input>
      <div slot="footer">
        <el-button @click="show = false">取 消</el-button>
        <el-button type="primary" @click="onConfirm">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
export default {
  name: 'edit-modal',
  props: {
    visible: Boolean,
    editRow: {
      type: Object,
      required: true,
    },
    editKey: {
      type: String,
      required: true,
    },
    module: {
      type: Object,
      required: true
    },
  },
  watch: {
    visible: {
      handler (newVal) {
        this.show = newVal;
        if (newVal) {
          if (this.editKey === 'title') {
            this.editValue = this.editRow.title;
          }
        }
      },
      immediate: true,
    },
    show (newVal) {
      this.$emit('update:visible', newVal);
    }
  },
  data () {
    return {
      show: this.visible,
      editValue: '',
    };
  },
  methods: {
    // 编辑标题
    async onConfirm() {
      if (!this.editValue) {
        this.$message.error("内容不能为空");
        return;
      }
      if (!this.editRow) return;
      this.module.updateConfig(this.editRow.id, {
        [this.editKey]: this.editValue
      })
        .then(() => {
          this.$emit('success');
        })
        .catch(err => {
          this.$message.error(err.message);
        })
        .finally(() => {
          this.editValue = "";
          this.show = false;
        });
    },
  }
};
</script>

<style lang="scss">
.edit-titile-dialog {
  .el-dialog {
    width: 390px;
  }
}
</style>
