<template>
  <div id="klk-cms_page_edit">
    <el-form
      ref="form"
      label-width="176px"
      label-position="right"
      v-if="!isSingleLan"
    >
      <!-- 支持的编辑语言 -->
      <el-form-item :label="$t('pages.edit.editLanguage')" required>
        <el-select v-model="editLanguage" :placeholder="$t('pages.edit.editLanguage')">
          <el-option
            v-for="lan in languages"
            :key="lan.value"
            :label="lan.label"
            :value="lan.value"
          >
          </el-option>
        </el-select>
      </el-form-item>
      <!-- 参考语言 -->
      <el-form-item :label="$t('pages.edit.refLanguage')">
        <el-select v-model="refLanguage" :placeholder="$t('pages.edit.refLanguage')">
          <el-option
            v-for="lan in languages"
            :key="lan.value"
            :label="lan.label"
            :value="lan.value"
          >
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="">
        <el-button type="primary" @click="changeLanguage" :disabled="!available">
          {{ $t('pages.edit.applyBtn') }}
        </el-button>
      </el-form-item>
    </el-form>
    <h2 v-if="title">{{ title }}</h2>
    <!-- 通过 schema 描述文件将 UI 渲染出来 -->
    <schema-render
      :schema="module.schema"
      ref="schemaRender"
      v-if="available"
    ></schema-render>
    <!-- 保存 -->
    <div class="actions">
      <el-button type="text" @click="onCancel">
        {{ $t('pages.edit.backBtn') }}
      </el-button>
      <el-button
        type="primary"
        @click="onSave(true)"
        :disabled="!available"
        v-if="showTestBtn"
        >测试</el-button
      >
      <el-button
        v-if="!published"
        type="primary"
        @click="onSave()"
        :disabled="!available"
      >
        {{ $t('pages.edit.saveBtn') }}
      </el-button>
    </div>
  </div>
</template>

<script>
import merge from 'lodash/merge';
import schemaRender from "../components/render.vue";
import { languages, querystring, LAN_STATUS } from "../utils.ts";

export default {
  components: {
    schemaRender
  },
  props: {
    title: String,
    module: {
      type: Object,
      required: true
    },
    options: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      configId: null,
      editLanguage: "",
      refLanguage: "",
      languages,
      available: false,
      published: false,
      lanStatusList: []
    };
  },
  computed: {
    showTestBtn() {
      /* global window */
      return window.KLK_ENV === "dev";
    },
    // 是否是单语言模式
    isSingleLan() {
      return this.options.singleLanguage !== undefined;
    }
  },
  async created() {
    // 页面初始化
    this.init();
    // 获取支持语言状态列表
    await this.getLanStatusList();
    // 获取配置
    this.getConfigData();
  },
  methods: {
    // 页面初始化
    init() {
      const query = querystring.parse(window.location.href);
      this.configId = Number(query.id);
      // 设置默认编辑语言和参考语言
      this.editLanguage = query.editLanguage
        || window.localStorage.getItem("cms.editLanguage")
        || "zh_CN";
      this.refLanguage = query.refLanguage
        || window.localStorage.getItem("cms.refLanguage")
        || "zh_CN";
    },
    // 获取支持语言状态列表
    async getLanStatusList() {
      await this.module.getConfigSupportLanguages(this.configId).then(result => {
        const statusList = result;
        this.lanStatusList = this.languages.map(lan => {
          const objLan = statusList.find(item => item.language === lan.value);
          // 当前编辑语言下是否可编辑（发布状态下不可编辑）
          if (objLan && objLan.language === this.editLanguage) {
            this.published = Number(objLan.publish_status) === LAN_STATUS.PUBLISH;
          }
          return {
            ...lan,
            status: objLan ? objLan.publish_status : null
          };
        });
      }).catch(err => {
        this.$message.error(err.message);
      });
    },
    // 获取配置
    async getConfigData() {
      const configData = await this.module.getConfigData(
        this.configId,
        this.editLanguage,
        this.refLanguage
      );

      this.module.injectDataIntoSchema(configData);

      this.available = true;
    },
    async changeLanguage() {
      // 重载页面
      const params = querystring.parse(window.location.href);
      params.editLanguage = this.editLanguage;
      params.refLanguage = this.refLanguage;
      const newUrl = window.location.href.split("?")[0] + `?${querystring.stringify(params)}`;
      this.saveLanguagesLocally();
      window.location.href = newUrl;
    },
    async onSave(test = false) {
      if (this.published) {
        this.$message.error("已发布，只允许查看，不可编辑");
        return;
      }
      // 表单校验
      const valid = await this.$refs.schemaRender.validate();
      if (!valid) {
        this.$message.error("请检查您的输入项");
        return;
      }

      // 生成数据
      const [data, lanData] = await this.$refs.schemaRender.genData();

      console.log(
        this.editLanguage,
        this.refLanguage,
        data,
        lanData,
        merge(data, lanData)
      );
      if (test) return;

      // 只是保存为草稿
      await this.save(data, lanData, true);

      this.$message({
        message: "保存成功",
        type: "success"
      });

      this.saveLanguagesLocally();
      // window.location.reload();
      setTimeout(() => {
        window.location = window.location.href.split("?")[0] + "?page=list";
      }, 1500);
    },
    // 保存草稿
    async save(data, lanData, isDraft = true) {
      try {
        const editOpt = this.options.pages.edit;
        // OPT: HOOKS
        if (editOpt.onSave && typeof editOpt.onSave === "function") {
          await editOpt.onSave();
        }

        await this.module.updateConfigData(
          this.configId,
          this.editLanguage,
          data,
          lanData,
        );

        if (!isDraft) {
          await Promise.all([
            this.module.publishConfigData(this.configId, 'all'),
            this.module.publishConfigData(this.configId, this.editLanguage)
          ]);
        }
      } catch (err) {
        this.onErr(err);
      }
    },
    onCancel() {
      window.history.go(-1);
    },
    onRes(res) {
      if (!res.success) {
        throw new Error(res.error.message);
      }
    },
    onErr(err) {
      console.error(err);
      this.$message.error(err);
      throw err;
    },
    // 保存当前操作的语言
    saveLanguagesLocally() {
      window.localStorage.setItem("cms.editLanguage", this.editLanguage);
      window.localStorage.setItem("cms.refLanguage", this.refLanguage);
    }
  }
};
</script>

<style lang="scss">
#klk-cms_page_edit {
  padding-top: 40px;
  > .el-form {
    margin-bottom: 48px;
  }
  > .actions {
    float: right;
  }
}
</style>
