<template>
  <div id="campaign-page">
    <list v-if="showPage('list')" :module="module" :options="options"></list>
    <create
      v-else-if="showPage('create')"
      :module="module"
      :options="options"
    ></create>
    <edit
      v-else-if="showPage('edit')"
      :module="module"
      :options="options"
      title="Mini Program Campaign Page"
    ></edit>
  </div>
</template>

<script>
import list from "./list.vue";
import create from "./create.vue";
import edit from "./edit.vue";

export default {
  name: "cms-page-entry",
  components: {
    list,
    create,
    edit
  },
  props: {
    module: {
      type: Object,
      required: true
    },
    options: {
      type: Object,
      default: () => {
        return {};
      }
    }
  },
  data() {
    return {
      renderPage: false,
      // 列表页 list 编辑页 edit 创建页 create
      page: "list"
    };
  },
  async created() {
    const querystr = window.location.href.split("?")[1];

    if (querystr) {
      querystr.split("&").forEach(item => {
        const [key, val] = item.split("=");
        if (key === "page" && val) {
          this.page = val;
        }
      });
    }
    // deal with options
    const curPageOpt = this.options.pages[this.page];
    if (curPageOpt) {
      const { beforeRender } = curPageOpt;
      // OPT: HOOKS
      if (beforeRender && typeof beforeRender === "function") {
        this.renderPage = await beforeRender();
      }
    }
    if (!this.renderPage) this.renderPage = true;
  },
  methods: {
    showPage(page) {
      return this.page === page && this.renderPage;
    }
  }
};
</script>
