<template>
  <div class="klk-cms_module_filter">
    <schema-render
      :schema="schema"
      label-width="115px"
      label-position="left"
      ref="schemaRender"
      :inline-form="inlineForm"
    ></schema-render>
    <el-button type="primary" @click="onFilter()" v-if="showFilterBtn">
      {{ $t('pages.list.filter.filterBtn') }}
    </el-button>
  </div>
</template>

<script>
import debounce from 'lodash/debounce';
import schemaRender from "../components/render.vue";
import { getType, languages, LAN_STATUS, LAN_STATUS_LABEL } from "../utils.ts";

export default {
  name: "list-filter",
  components: {
    schemaRender
  },
  props: {
    options: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      languages,
      schema: null,
      showFilterBtn: true,
      inlineForm: false
    };
  },
  created() {
    this.init();
  },
  mounted () {
    this.onFilter();
  },
  methods: {
    init() {
      const { inlineForm = false } = this.options.pages.list.filter || {};
      this.inlineForm = inlineForm;
      this.setSchema();
    },
    setSchema() {
      const { singleLanguage } = this.options;
      const { schema: schemaFn, immediateFilter = false } = this.options.pages.list.filter || {};

      const components = [
        {
          type: "text",
          title: this.$t('pages.list.filter.title'),
          key: "query",
          value: ""
        },
        {
          type: "text",
          title: this.$t('pages.list.filter.modifier'),
          key: "modifier",
          value: ""
        },
        {
          type: "text",
          title: this.$t('pages.list.filter.link'),
          key: "link",
          value: ""
        },
        {
          type: "select",
          title: this.$t('pages.list.filter.publishedLanguages'),
          key: "selectedLan",
          value: singleLanguage || "zh_CN",
          options: languages,
          visible: singleLanguage === undefined
        },
        singleLanguage
          ? {
            type: "select",
            title: this.$t('pages.list.filter.status'),
            key: "selectedLanStatus",
            value: null,
            options: [
              { label: "全部", value: null },
              {
                label: LAN_STATUS_LABEL[LAN_STATUS.DRAFT],
                value: LAN_STATUS.DRAFT
              },
              {
                label: LAN_STATUS_LABEL[LAN_STATUS.PUBLISH],
                value: LAN_STATUS.PUBLISH
              },
              {
                label: LAN_STATUS_LABEL[LAN_STATUS.UNPUBLISH],
                value: LAN_STATUS.UNPUBLISH
              }
            ]
          }
          : null
      ].filter(item => item !== null);

      let schema = {
        title: "",
        components
      };

      if (immediateFilter) {
        schema.onChange = debounce(this.onFilter, 500);
        this.showFilterBtn = false;
      }

      if (schemaFn) {
        if (getType(schemaFn) === "function") {
          schema = schemaFn(schema);
        }
      }

      this.schema = schema;
    },
    async onFilter() {
      const [params] = await this.$refs.schemaRender.genData();
      this.$emit("filter", params);
    }
  }
};
</script>

<style lang="scss">
.klk-cms_module_filter {
  .klk-cms_component_object {
    padding: 0;
    > .el-form {
      margin-bottom: 20px;
    }
  }
}
</style>
