<template>
  <div class="klk-cms__language-manage-modal">
    <el-dialog
      :title="$t('modal.lansManage.title')"
      width="30%"
      :visible.sync="show"
    >
        <el-table
          :data="table.data"
          style="width: 100%"
          height="450"
        >
          <template v-for="col in table.columns">
              <el-table-column :key="col.prop" v-bind="col">
                <template slot-scope="scope">
                  <cell-render
                    v-if="col.render"
                    :render="col.render"
                    :scope="scope"
                  ></cell-render>
                  <span v-else>{{ scope.row[col.prop] }}</span>
                </template>
              </el-table-column>
          </template>
        </el-table>
    </el-dialog>
  </div>
</template>

<script>
import { CellRender, languages, LAN_STATUS } from '../utils';
import { renderStatus, renderLanOperations, renderLanPreview } from './list.vue';

export default {
  name: 'language-manage-modal',
  components: {
    CellRender,
  },
  props: {
    visible: Boolean,
    configId: {
      type: [String, Number],
      required: true,
    },
    editRow: {
      type: Object,
      required: true,
    },
    module: {
      type: Object,
      required: true
    },
  },
  watch: {
    visible: {
      handler (newVal) {
        this.show = newVal;
        if (newVal) {
          this.setData(this.configId);
        }
      },
      immediate: true,
    },
    show (newVal) {
      this.$emit('update:visible', newVal);
    }
  },
  data () {
    return {
      show: this.value,
      table: {
        columns: [
          { label: this.$t('modal.lansManage.columns.languages'), prop: "language" },
          {
            label: this.$t('modal.lansManage.columns.status'),
            prop: "status",
            render: (h, scope) => {
              const { status: lanStatus } = scope.row;
              return renderStatus(h, lanStatus);
            }
          },
          {
            label: this.$t('modal.lansManage.columns.operations'),
            render: (h, scope) => {
              const { status: lanStatus, value: lan } = scope.row;
              return renderLanOperations.call(
                this,
                h,
                this.editRow,
                lan,
                lanStatus,
                () => {
                  this.setData(this.configId);
                  this.$emit('update');
                },
              );
            }
          },
          // 预览
          {
            label: this.$t('modal.lansManage.columns.preview'),
            render: (h, scope) => {
              const { status } = scope.row;
              const show = !(status == null);
              const published = status === LAN_STATUS.PUBLISH;

              if (show) {
                return renderLanPreview(
                  h,
                  this.editRow.urlKey,
                  scope.row.value,
                  published ? "浏览" : "预览",
                  published
                );
              } else return "";
            }
          }
        ],
        data: []
      }
    };
  },
  methods: {
    async setData (configId) {
      this.table.data = [];
      // 获取配置在不同语言下的状态
      await this.module.getConfigSupportLanguages(configId).then(result => {
        const statusList = result;
        this.table.data = languages.map(lan => {
          const objLan = statusList.find(item => item.language === lan.value);
          return {
            ...lan,
            language: lan.label,
            status: objLan ? objLan.publish_status : null
          };
        });
      }).catch(err => {
        this.$message.error(err.message);
      });
    }
  }
};
</script>
