<template>
  <div class="klk-cms_page_list">
    <!-- 筛选区 -->
    <list-filter
      @filter="onFilter"
      :options="options"
    ></list-filter>
    <!-- 新增 -->
    <el-button class="create-btn" type="primary" @click="gotoCreatePage">
      {{ $t('pages.list.createBtn') }}
    </el-button>
    <!-- 列表 -->
    <el-table :data="configList" style="width: 100%">
      <template v-for="col in columns">
        <el-table-column :key="col.prop" v-bind="col">
          <template slot-scope="scope">
            <cell-render
              v-if="col.render"
              :render="col.render"
              :scope="scope"
            ></cell-render>
            <span v-else>{{ scope.row[col.prop] }}</span>
          </template>
        </el-table-column>
      </template>
    </el-table>
    <!-- 分页 -->
    <el-pagination
      background
      layout="total, sizes, prev, pager, next, jumper"
      :current-page="pagination.current"
      :page-size="pagination.pageSize"
      :page-sizes="pagination.pageSizes"
      :total="pagination.total"
      @current-change="gotoPage"
      @size-change="handleSizeChange"
    >
    </el-pagination>
    <!-- 编辑弹窗 -->
    <edit-modal
      v-if="curOperateRow && editKey"
      :visible.sync="showEditModal"
      :edit-key="editKey"
      :edit-row="curOperateRow"
      :module="module"
      @success="gotoPage(1)"
    ></edit-modal>
    <!-- 语言状态管理弹窗 -->
    <language-manage-modal
      v-if="curOperateRow"
      :visible.sync="showLanManageModal"
      :config-id="curOperateRow.id"
      :edit-row="curOperateRow"
      :module="module"
      @update="gotoPage(pagination.current)"
    ></language-manage-modal>
  </div>
</template>

<script>
import API from "../api.ts";
import {
  languages, getType, LAN_STATUS, LAN_STATUS_LABEL, CellRender
} from "../utils.ts";
import Filter from "./filter.vue";
import EditModal from './edit-modal.vue';
import LanguageManageModal from './lan-manage-modal.vue';
// import mockData from '../mock/list-data.json';

export function renderLanOperations(h, row, lan, lanStatus, onDone, onFailed) {
  // 是否是已支持的语言
  const added = !(lanStatus === undefined || lanStatus === null);

  // 可编辑
  const editButton = added ? (
    renderEdit.call(this, h, row.id, lan, lanStatus)
  ) : null;

  // 发布
  let statusButton = null;
  if (added) {
    const statusBtn = {
      label: "",
      onClick: () => {}
    };
    if (lanStatus === LAN_STATUS.PUBLISH) {
      statusBtn.label = this.$t('buttons.unPublish');
      statusBtn.onClick = async () => {
        await this.module.unPublishConfigData(row.id, lan);
      };
    } else {
      statusBtn.label = lanStatus === LAN_STATUS.UNPUBLISH ? this.$t('buttons.rePublish') : this.$t('buttons.publish');
      statusBtn.onClick = async () => {
        await this.module.publishConfigData(row.id, lan);
      };
    }
    statusButton = (
      <el-button
        type="text"
        size="small"
        onClick={async () => {
          try {
            await statusBtn.onClick();
            this.$message.success(this.$t('action.success'));
            if (onDone) onDone();
          } catch (err) {
            const errMsg = err.message;
            this.$message.error(this.$t('action.failed') + ': ' + errMsg);
            if (onFailed) onFailed();
          }
        }}
      >
        {statusBtn.label}
      </el-button>
    );
  }

  // 添加
  /* const addBtn = added ? null : (
    <el-button
      type="text"
      size="small"
      onClick={() => {
        //
      }}
    >
      添加
    </el-button>
  ); */

  return (
    <span>
      {editButton}
      {statusButton}
    </span>
  );
}

function renderEdit (h, id, lan = null, lanStatus = null) {
  return (
    <el-button
      type="text"
      size="small"
      onClick={() => {
        let url = window.location.href.split("?")[0] + `?page=edit&id=${id}`;

        if (lan) {
          url += `&editLanguage=${lan}&refLanguage=${lan}`;
        }

        window.location.href = url;
      }}
    >
      { lanStatus === LAN_STATUS.PUBLISH ? this.$t('buttons.view') : this.$t('buttons.edit') }
    </el-button>
  );
}

export function renderLanPreview (h, urlKey, lan, lanLabel, published = true) {
  let previewUrl = `pages/campaign/index?key=${urlKey}&lan=${lan}`;

  if (!published) {
    previewUrl += "&preview=1";
  }

  return (
    <el-popover
      placement="top-start"
      title="URL Key"
      width="300"
      trigger="click"
      content={previewUrl}
    >
      <el-button slot="reference" size="small" type="text">
        {lanLabel}({lan})
      </el-button>
    </el-popover>
  );
}

export function renderStatus(h, lanStatus) {
  const statusText = lanStatus === null
    ? ""
    : LAN_STATUS_LABEL[Number(lanStatus)];
  return <span>{statusText}</span>;
}

export default {
  components: {
    CellRender,
    EditModal,
    LanguageManageModal,
    // filter is a reserved tag
    "list-filter": Filter
  },
  props: {
    module: {
      type: Object,
      required: true
    },
    options: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      // 筛选项参数
      filterParams: null,
      columns: [],
      // 配置列表
      configList: [],
      // 分页
      pagination: {
        current: 1,
        pageSize: 25,
        pageSizes: [10, 25, 50, 100],
        total: 0
      },
      // 编辑弹窗
      showEditModal: false,
      editKey: "title",
      // 当前操作行
      curOperateRow: null,
      // 多语言状态弹窗
      showLanManageModal: false,
      LAN_STATUS,
    };
  },
  created() {
    this.init();
  },
  methods: {
    init () {
      // columns depend on options
      this.columns = this.getColumns();
      // cover default options
      const listOpt = this.options.pages.list;
      if (listOpt) {
        // 列表项设置
        const { columns, pagination } = listOpt;
        if (columns) {
          if (getType(columns) === "function") {
            this.columns = columns.call(this, this.columns);
          } else this.columns = columns;
        }
        // 分页
        if (pagination) {
          const { pageSize } = pagination;
          this.pagination.pageSize = pageSize || this.pagination.pageSize;
        }
      }
    },
    getColumns() {
      // check if set as single lan mode
      const isSingleLan = this.options.singleLanguage !== undefined;
      return [
        {
          label: this.$t('pages.list.table.columns.id'),
          prop: "id",
          width: 80
        },
        {
          label: this.$t('pages.list.table.columns.module'),
          prop: "module"
        },
        {
          label: this.$t('pages.list.table.columns.title'),
          prop: "title"
        },
        {
          label: this.$t('pages.list.table.columns.urlKey'),
          prop: "urlKey"
        },
        {
          label: this.$t('pages.list.table.columns.creator'),
          prop: "creator"
        },
        /* {
          label: this.$t('pages.list.table.columns.createAt'),
          prop: "createAt"
        }, */
        {
          label: this.$t('pages.list.table.columns.modifier'),
          prop: "modifier"
        },
        {
          label: this.$t('pages.list.table.columns.modifyAt'),
          prop: "modifyAt"
        },
        isSingleLan
          ? {
            label: this.$t('pages.list.table.columns.status'),
            prop: "status",
            render: (h, scope) => {
              const { select_language_status: lanStatus } = scope.row;
              return renderStatus(h, lanStatus);
            }
          }
          : null,
        /* {
          label: "支持平台",
          prop: "platform"
        }, */
        isSingleLan
          ? null
          : {
            label: this.$t('pages.list.table.columns.publishedLanguages'),
            prop: "publishedLanguages",
            render: (h, scope) => {
              const supprtLansKeys = (scope.row.publishedLanguages || "").split(
                ","
              );
              const supprtLans = languages.filter(lan => {
                return supprtLansKeys.includes(lan.value);
              });

              const lans = supprtLans.map(lan => {
                return renderLanPreview(h, scope.row.urlKey, lan.value, lan.label);
              });

              return <span>{lans}</span>;
            }
          },
        isSingleLan
          ? {
            label: this.$t('pages.list.table.columns.operations'),
            prop: "action",
            width: 180,
            render: (h, scope) => {
              const { singleLanguage } = this.options;
              const { select_language_status: lanStatus } = scope.row;
              return renderLanOperations.call(
                this,
                h,
                scope.row,
                singleLanguage,
                lanStatus
              );
            }
          }
          : {
            label: this.$t('pages.list.table.columns.operations'),
            prop: "action",
            width: 250,
            render: (h, scope) => {
              const editBtn = renderEdit.call(this, h, scope.row.id);
              const editTitleBtn = (
                <el-button
                  type="text"
                  size="small"
                  onClick={() => {
                    this.curOperateRow = scope.row;
                    this.editKey = "title";
                    this.showEditModal = true;
                  }}
                >
                  { this.$t('buttons.editTitle') }
                </el-button>
              );
              const lanManageBtn = (
                <el-button
                  type="text"
                  size="small"
                  onClick={() => {
                    this.curOperateRow = scope.row;
                    this.showLanManageModal = true;
                  }}
                >
                  { this.$t('buttons.lansManage') }
                </el-button>
              );
              const deleteBtn = (
                <el-button
                  type="text"
                  size="small"
                  onClick={() => {
                    this.onDelete(scope.row);
                  }}
                >
                  { this.$t('buttons.delete') }
                </el-button>
              );
              return (
                <span>
                  {editBtn}
                  {editTitleBtn}
                  {lanManageBtn}
                  {deleteBtn}
                </span>
              );
            }
          }
      ].filter(item => item !== null);
    },
    async onFilter(params) {
      this.filterParams = params;
      this.gotoPage(1);
    },
    gotoPage(page = 1) {
      this.pagination.current = page;
      this.getList();
    },
    // 获取模块配置列表
    getList() {
      this.module.getConfigList({
        ...this.filterParams,
        page: this.pagination.current,
        pageSize: this.pagination.pageSize
      })
      // Promise.resolve(mockData)
        .then(result => {
          const { data, total } = result;
          this.configList = data || [];
          this.pagination.total = total;
        });
    },
    onRes(res) {
      if (!res.success) {
        throw new Error(res.error.message);
      }
    },
    // 发布语言
    async publish(configId, lan) {
      await this.$confirm('你确定要发布此数据？', '发布', {
        confirmButtonText: '确定',
        cancelButtonText: '取消'
      });
      this.$message("正在发布");
      await Promise.all([
        await API.publishLanConfigData(configId, "all").then(this.onRes),
        await API.publishLanConfigData(configId, lan).then(this.onRes)
      ]).then(() => {
        this.$message.success("已发布");
        this.gotoPage(this.pagination.current);
      });
    },
    // 取消发布语言
    async unPublish(configId, lan) {
      await this.$confirm('你确定要取消发布此数据？', '取消发布', {
        confirmButtonText: '确定',
        cancelButtonText: '取消'
      });
      this.$message("正在取消发布");
      await Promise.all([
        await API.unpublishLanConfigData(configId, "all").then(this.onRes),
        await API.unpublishLanConfigData(configId, lan).then(this.onRes)
      ]).then(() => {
        this.$message.success("已取消发布");
        this.gotoPage(this.pagination.current);
      });
    },
    // 跳转创建页
    gotoCreatePage() {
      window.location.href = window.location.href.split("?")[0] + "?page=create";
    },
    // 删除数据
    onDelete(row) {
      this.$confirm(this.$t('tip.deleteConfig'), this.$t('title.delete'), {
        confirmButtonText: this.$t('buttons.delete'),
        cancelButtonText: this.$t('buttons.cancel'),
        type: "error"
      }).then(
        () => {
          API.deleteConfig(row.id).then(res => {
            if (res.success) {
              this.gotoPage(1);
            } else this.$message.error(res.error.message);
          });
        },
        () => {}
      );
    },
    // 改变每页大小
    handleSizeChange(size) {
      this.pagination.pageSize = size;
      this.gotoPage(1);
    },
  }
};
</script>

<style lang="scss">
.klk-cms_page_list {
  .create-btn {
    height: 36px;
    width: 86px;
    margin-bottom: 10px;
    float: right;
  }
  .el-form {
    margin-top: 10px;
    margin-bottom: 40px;
    // max-width: 400px;
    .el-form-item__label {
      font-weight: normal;
    }
  }
  .el-table {
    margin-top: 0;
    table {
      thead th,
      tbody th {
        font-size: 12px;
      }
    }
  }
  .el-pagination {
    float: right;
    margin-top: 20px;
    padding: 0;
  }
}
</style>
