<template>
  <h3>This is a custom component.</h3>
</template>

<script>
export default {
  name: 'custom-comp',
  mounted () {
    setTimeout(() => {
      this.$emit('change', this);
    }, 3000);
  }
};
</script>
